@import "tailwindcss";

@theme{
    --color-border : hsl(var(--border));
    --color-background : hsl(var(--background));
    --color-foreground : hsl(var(--foreground));    
    --color-primary : hsl(var(--color-primary));
    --color-secondary : hsl(var(--color-secondary));  
}

@layer base {
    :root{
        --background : 210, 40% 98%;
        --foreground : 222 47% 11%;

        --primary : 250 65% 65%;
        --secondary: 210 40% 98%;
    }
    .dark{
        --background : 222 46% 4%;
        --foreground : 213 31% 91%;

        --primary : 250 65% 65%;
        --secondary: 213 31% 91%;
    }
    
    *{
        @apply border-border;
    }
    html{
        @apply scroll-smooth
    }
    body{
        @apply bg-background text-foreground transition-colors duration-300;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}
#root{
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}